{#
<pre>Type: {{ type }}</pre>
<pre>Env: {{ environment }}</pre>
<pre>Param: {{ param }}</pre>

<pre>Version: {{ version }}</pre>
<pre>------- Cache --------</pre>
<pre>Key: {{ key }}</pre>
<pre>Minutes: {{ minutes }}</pre>
<pre>Env: {{ cache_env }}</pre>
<pre>Type: {{ cache_type }}</pre>
<pre>Url: {{ url }}</pre>
<pre>Value: {{ value }}</pre>
<pre>------- SEO ----------</pre>
<pre>Head: {{ SEO_head }}</pre>	
#}

{# Magazine Integration ----------- #}

{% if integration == 'snippet' %}
    {{ Preloader|raw }}
{% else %}
    {% put head %}
        {{ Script|raw }}
        {{ Styles|raw }}
    {% endput %}
    <div id="stylaMagazine" {% if feedlimit %}data-feedlimit="{{ feedlimit }}"{% endif %}></div>
{% endif %}

{# SEO content -------------------- #}

{% put head %}
    {{ SEO_head|raw }}
{% endput %}
{{ SEO_body|raw }}
